@primaryColor: #4d3c22;

body {
  font-family: "Futura medium", futura medium, futura, Arial, Helvetica, sans-serif;
  font-size: 16pt;
  margin: 0;
  padding: 0;
  background-color: #eaddcd;
}

#header {
    height: 42px;
    background-color: @primaryColor;
    
    #headerPadding {
        width: 960px;
        margin: 0 auto;
    }
    
    h1 {  margin: 0; 
            float: left; 
            width: 215px; 
            height: 42px;
        img {
            max-width: 100%; 
            height: auto;
            display: block;
            margin-top: 5px;
        } 
    }
    
}

#userInfo {  
    width: 960px;  
    margin: 0 auto; 
    padding: 30px 0;

    #userInfoInput {
        width: 60%;
        float: left;
    }
    
    #userPhoto {
        float: left;
        width: 60px;
        height: 60px;
        border: 3px solid #fff;
        background: @primaryColor;
        margin-right: 10px;
    }
    
    h2 {  
        font-size: 18px;
        line-height: 1;
        color: #afa395;
        margin: 0 0 8px 0;
        font-weight: normal;
        text-transform: uppercase;
        padding-top: 8px;
    
    }
    
    p {  margin: 0; 
        font-size: 26px; 
        line-height: 1.4;  
    }
    
    #sharing {  
        width: 30%;
        float: right;
    
    }
    
}

#results {  
    clear: both;  
    
    .resultSet {
        clear: both;
    }
    
    .setHeader {  
        background: @primaryColor;  
        padding: 10px 0;
        
         h3 {
            color: #fff;
            font-size: 15px;
            line-height: 1;
            text-transform: uppercase;
            font-weight: normal;
            width: 960px;
            margin: 0 auto;
        }
    }
    
    .dataRow {  
        clear: both;  
        padding: 10px 0;
        background: #bb9c6e;
        border-bottom: 1px solid #8a6435;
        
        p {
        
        font-size: 21px; 
        margin: 0 auto;
        width:960px;
        
        }
        
    }
    
}


