@primaryColor: #3a250b;

body {
  font-family: "Futura medium", futura medium, futura, Arial, Helvetica, sans-serif;
  font-size: 16pt;
  margin: 0;
  padding: 0;
  background-color: #eaddcd;
}

#header {
    height: 42px;
    background-color: @primaryColor;
    
    #headerPadding {
        width: 960px;
        margin: 0 auto;
    }
    
    h1 {  margin: 0; 
            float: left; 
            width: 215px; 
            height: 42px;
        img {
            max-width: 100%; 
            height: auto;
            display: block;
            margin-top: 5px;
        } 
    }
    
}

#userInfo {  
    width: 960px;  
    margin: 0 auto; 
    padding: 30px 0;

    #userInfoInput {
        width: 60%;
        float: left;
    }
    
    #userPhoto {
        float: left;
        width: 60px;
        height: 60px;
        border: 3px solid #fff;
        background: @primaryColor;
        margin-right: 10px;
    }
    
    h2 {  
        font-size: 18px;
        line-height: 1;
        color: #afa395;
        margin: 0 0 8px 0;
        font-weight: normal;
        text-transform: uppercase;
        padding-top: 8px;
    
    }
    
    p {  margin: 0; 
        font-size: 26px; 
        line-height: 1.4;  
    }
    
    input{  
        font-size: 26px; 
        line-height: 1.2; 
        color: #7d7368; 
        border: none; 
        background: none;  
        border-bottom: 2px solid #222;
        width: 50px;
        text-align: center;
        margin-right: 10px;
        outline: none;
    }
    
    #selectAge {  

        
           
           select {
              background: transparent;     
              -webkit-appearance: none;
              font-size: 26px;
              color: #7d7368;
              border: none;
              outline: none;
           }
           select:focus {  font-size: 14px;  }
           
    
    }
    #selectAge::before {  
         content: "▼";
         font-size: 14px; 
         color: #7d7368;    
    }
    
    #sharing {  
        width: 30%;
        float: right;
    
    }
    
}

#results {  
    clear: both;  
    
    .resultSet {
        clear: both;
    }
    
    .setHeader {  
        background: #201b14;  
        padding: 10px 0;
        
         h3 {
            color: #fff;
            font-size: 15px;
            line-height: 1;
            text-transform: uppercase;
            font-weight: normal;
            width: 960px;
            margin: 0 auto;
        }
    }
    
    .dataRow {  
        clear: both;  
        padding: 20px 0;
        background: #bb9c6d;
        border-bottom: 1px solid #b39363;
        
        p {
        
        font-size: 18px; 
        margin: 0 auto;
        width:960px;
        
            .dataFigure {
                font-size: 28px;
                color: #4d3c22;
            }
        
        }
        
    }
    
    .dataRow:nth-child(3) {  background-color: #b49364; border-bottom: 1px solid #946e3d;  }
    .dataRow:nth-child(4) {  background-color: #9d7845; border-bottom: 1px solid #896335;  }
    .dataRow:nth-child(5) {  background-color: #946e3d; border-bottom: 1px solid #795529;  }
    .dataRow:nth-child(6) {  background-color: #896335; border-bottom: 1px solid #6c491f;  }
    .dataRow:nth-child(7) {  background-color: #795529; border-bottom: 1px solid #593a15;  }
    .dataRow:nth-child(8) {  background-color: #6c491f; border-bottom: 1px solid #4e3211;  }
    .dataRow:nth-child(9) {  background-color: #593a15; border-bottom: 1px solid #3a250b;  }
    .dataRow:nth-child(10) {  background-color: #4e3211; border-bottom: 1px solid #3a250b;  }
    .dataRow:nth-child(11) {  background-color: #3a250b; border-bottom: 1px solid #3a250b;  }
    
}


